<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />

  <script src='http://fgnass.github.io/spin.js/spin.min.js'></script>

  <style>
    body { margin:0; padding:0; }
    #map { height:550px; }
  </style>

<h1 class="text-center">Welcome to RandomWalk</h1>

<!-- <button onclick="getLocation()" style="font-size: 21pt">Get Current Location</button> -->

<script>
document.addEventListener('DOMContentLoaded', function() {
  getLocation();
}, false);
</script>

<p id="location-coords">Getting current location...</p>

<script>
var myPosition;
var map;
var x = document.getElementById("location-coords");

function getLocation() {
  if (navigator.geolocation) {
    var spinner = new Spinner().spin(x);

    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  document.getElementById("form-lon").value = position.coords.longitude;
  document.getElementById("form-lat").value = position.coords.latitude;
  document.getElementById("form-submit").disabled = false;

  mapboxgl.accessToken = 'pk.eyJ1IjoicmFuZG9td2FsayIsImEiOiJjaWw0Y3B5dzEwMjl1dGhseXcyOWh5NGJpIn0.ZKl7LVbPulKaAqQjbsMJfQ';
  map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location

    center: [position.coords.longitude, position.coords.latitude], // starting position. This needs to be the user's current location.
    zoom: 11 // starting zoom
  });

  map.on('click', function(e) {
    // Use featuresAt to get features within a given radius of the click event
    // Use layer option to avoid getting results from other layers
    map.featuresAt(e.point, {layer: 'symbols', radius: 10, includeGeometry: true}, function (err, features) {
      if (err) throw err;
      // if there are features within the given radius of the click event,
      // fly to the location of the click event
      if (features.length) {
        // Get coordinates from the symbol and center the map on those coordinates
        map.flyTo({center: features[0].geometry.coordinates});
      }
    });
  });

  // Use the same approach as above to indicate that the symbols are clickable
  // by changing the cursor style to 'pointer'.
  map.on('mousemove', function (e) {
    map.featuresAt(e.point, {layer: 'symbols', radius: 10}, function (err, features) {
      if (err) throw err;
      map.getCanvas().style.cursor = features.length ? 'pointer' : '';
    });
  });

  myPosition = position;
  x.innerHTML = "";

  // map.flyTo({center: [position.coords.longitude, position.coords.latitude]});

  map.on('style.load', function () {
    // add geojson data as a new source
    map.addSource("symbols", {
      "type": "geojson",
      "data": {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": "Point",
            "coordinates": [
              position.coords.longitude,
              position.coords.latitude
            ]
          }
        }]
      }
    });

    // add source as a layer and apply some styles
    map.addLayer({
      "id": "symbols",
      "interactive": true,
      "type": "symbol",
      "source": "symbols",
      "layout": {
        "icon-image": "marker-15"
      },
      "paint": {}
    });
  });
}
</script>


<div class="row">
  <span class="col-lg-1 col-sm-1"></span>
  <form action="/get_directions" class="col-sm-11 col-lg-3">
    <span class="center-text">How many miles do you want to run?</span><br><br>
    <input type="text" name="distance"><br><br>
    <input id="form-lon" type="hidden" name="lon">
    <input id="form-lat" type="hidden" name="lat">
    <input id="form-submit" type="submit" disabled value="Run!" style="font-size: 21pt" class="btn btn-success center-text">
  </form>
  <div id='map' class="col-sm-11 col-lg-7"></div>
</div>
