<h1>Welcome to RandomWalk</h1>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmFuZG9td2FsayIsImEiOiJjaWw0Y3B5dzEwMjl1dGhseXcyOWh5NGJpIn0.ZKl7LVbPulKaAqQjbsMJfQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
    center: [-122.393448,37.781031], // starting position. This needs to be the user's current location.
    zoom: 9 // starting zoom
});
</script>
<form action="/get_directions">
	How many miles do you want to run?<br>
	<input type="text" name="distance"><br>
	<input type="submit" value="Run!">
</form>