<!DOCTYPE html>
<html>
<head>
  <title>RandomWalk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />

  <script src='http://fgnass.github.io/spin.js/spin.min.js'></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body { margin:0; padding:0; }
    #map { height:550px; }
  </style>


  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
